USE [master]
GO
/****** Object:  Database [login_db]    Script Date: 27/08/2019 18:46:58 ******/
CREATE DATABASE [login_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'login_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVERA\MSSQL\DATA\login_db.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'login_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVERA\MSSQL\DATA\login_db_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [login_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [login_db]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 27/08/2019 18:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27/08/2019 18:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[RolName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/08/2019 18:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[RoldID] [int] NOT NULL,
	[Rol_RolID] [int] NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RolID], [RolName]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([RolID], [RolName]) VALUES (2, N'Cliente')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UserID], [Nombre], [Apellido], [Direccion], [UserName], [Password], [RoldID], [Rol_RolID]) VALUES (1, N'Abel', N'Cabrera', N'Reu', N'Acabrera', N'123', 1, NULL)
INSERT [dbo].[Usuarios] ([UserID], [Nombre], [Apellido], [Direccion], [UserName], [Password], [RoldID], [Rol_RolID]) VALUES (2, N'Santos', N'Domingo', N'Xela', N'santos', N'santos', 1, NULL)
INSERT [dbo].[Usuarios] ([UserID], [Nombre], [Apellido], [Direccion], [UserName], [Password], [RoldID], [Rol_RolID]) VALUES (3, N'Adalberto', N'Mendez', N'Mazate', N'adalberto', N'adalberto', 2, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
/****** Object:  Index [IX_Rol_RolID]    Script Date: 27/08/2019 18:46:59 ******/
CREATE NONCLUSTERED INDEX [IX_Rol_RolID] ON [dbo].[Usuarios]
(
	[Rol_RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Usuarios_dbo.Roles_Rol_RolID] FOREIGN KEY([Rol_RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_dbo.Usuarios_dbo.Roles_Rol_RolID]
GO
USE [master]
GO
